h1.userpage {
    color:black;
    font-size: 45px;
    text-align: center;
}
p {
    text-align: center;
    font-size: 30px;
}
.right {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}