<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">

</head>
<body style="background:#800000 url('/static/images/backgroundhome.jpg');
		background-repeat: no-repeat;
		background-size: cover;
">
<style>
    img {
  width: 20%;
  height: auto;
}
</style>
<div class="container">
    <div style= "text-align:center;" class="row">
        <div class="col-lg-12">
            <h1 style= "text-align:center;" class="page-header">Thumbnail Gallery</h1>
        </div>
            <img src=" {{url_for('send_image', filename=image_name)}}">
        <div class="col-lg-12">
            <input style= "width: 10%;" type="button" class="share" onclick="location.href='{{ url_for('index') }}';" value="Go Back" />
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

</body>
</html>