{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/style.css">
<!-- <link rel="stylesheet" href="two_styles.css"> -->

<br>
<br>

<body style="background:#800000 url('/static/images/backgroundfour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
">
<br>
<br>


<h1 style="color:white; text-align: center;">Sign In</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h1 style="color:white; text-align: center;">
            <p>
                {{ form.username.label }}
                <br>
                <br>
                {{ form.username(size=32) }}
            </p>
        </h1>
        <h1 style="color:white; text-align: center;">
            <p>
                {{ form.password.label }}
                <br>
                <br>
                {{ form.password(size=32) }}
            </p>
        </h1>
        <h1 style="color:white; text-align: center;">
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        </h1>
        <p>
            <button class="share">Sign In
                <p id = sign></p>
            </button>
        </p>
        <p>
            <input type="button" class="share" onclick="location.href='{{ url_for('register') }}';" value="Register" />
        </p>
    </form>
<script>
    document.getElementById("sign").onclick = function() {form.submit()};
</script>
</body>
{% endblock %}