{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="two_style.css">
<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<style>
    .animate-top{
	position:relative;
	animation:animatetop 2s
}
@keyframes animatetop{
	from{
		top:-300px;opacity:0
	}to{
		top:0;
		opacity:1
	}
}
.animate-left{
	position:relative;
	animation:animateleft 2s
}
@keyframes animateleft{
	from{
		left:-300px;
		opacity:0
	}to{
		left:0;
		opacity:1
	}
}
.animate-right{
	position:relative;
	animation:animateright 2s
}
@keyframes animateright{
	from{
		right:-300px;
		opacity:0
	}to{
		right:0;
		opacity:1
	}
}
.animate-bottom{
	position:relative;
	animation:animatebottom 2s
}
@keyframes animatebottom{
	from{
		bottom:-300px;
		opacity:0
	}to{
		bottom:0;
		opacity:1
	}
}
</style>

    <!-- current_user is a property of flask-login -->
<body style="background:#800000 url('/static/images/backgroundhome.jpg');
	background-repeat: no-repeat;
    background-size: cover;
">

<div class="animate-top">
    <h1 class="userpage">{{ project.name }}</h1>

     <h1 style="color:white; text-align: center;">
         <ul>
            {% for contributor in contributors %}
                <li>{{ contributor.username }}</li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('addContributor', project_id=project.id) }}" method="POST">
            <input type="text" name="contributor">
            <input type="submit" value="Add Contributor">
        </form>
        <form action="{{ url_for('deleteContributer', project_id=project.id) }}" method="POST">
            <input type="text" name="contributor">
            <input type="submit" value="delete Contributor">
        </form>
        <form action="{{ url_for('addTask', id=project.id) }}" method="POST">
            <input type="text" name="task">
            <input type="submit" value="Add task">
        </form>
     </h1>
</div>
<div class="animate-left">
    <div style="width: 10%;margin-left: auto;margin-right: auto;">
     <h1 style="color:white; text-align: center;">
     <h3 style="color:black; text-align: center;">Incomplete Tasks:</h3>
        {% for task in incomplete %}
            <li>{{ task.task }}</li>

            <form action="{{ url_for('deleteTask', project_id=project.id, task_id=task.id) }}" method="POST">
                <input type="submit" value="Delete">
            </form>

            <form action="{{ url_for('complete', project_id=project.id, task_id=task.id) }}" method="POST">
                <input type="submit" value="Mark as complete">
            </form>

            <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

                <strong>Files:</strong><br>
                <input id="file-picker" type="file" name="file" accept="image/*" multiple>
                <div id="msg"></div>
                <input type="submit" value="Upload!" id="upload-button">
            </form>
        {% endfor %}
     </h1>
    </div>
</div>
<div class="animate-right">
     <h1 style="color:white; text-align: center;">
    <h3 style="color:black; text-align: center;">Complete Tasks:</h3>
        <div style="width: 10%;margin-left: auto;margin-right: auto;">
            {% for task in complete %}
                <li>{{ task.task }}</li>
                <form action="{{ url_for('deleteTask', project_id=project.id, task_id=task.id) }}" method="POST">
                    <input type="submit" value="Delete">
                </form>
            {% endfor %}
        </div>
     </h1>
</div>
<div class="animate-bottom">
     <h1 style="color:white; text-align: center;">
<!--        <form action="{{ url_for('deleteProject', project_id=project.id) }}" method="POST">-->
<!--            <input type="submit" value="Delete Project">-->
<!--        </form>-->
     </h1>
        <p>
            <input style= "width: 15%;" type="button" class="share" onclick="location.href='{{ url_for('index') }}';" value="Go Back" />
        </p>
</div>
<script>
    $("#file-picker").change(function(){
        var input = document.getElementById('file-picker');
        for (var i=0; i<input.files.length; i++){
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            if ((ext == 'jpg') || (ext == 'png') || (ext == 'jpeg'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }
        }
    } );
</script>
{% endblock %}: