{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<link rel="stylesheet" href="two_styles.css">

<style>
.animate-topOne{
	position:relative;
	animation:animatetop 2s
}
.animate-topTwo{
	position:relative;
	animation:animatetop 4s
}
.animate-topThree{
	position:relative;
	animation:animatetop 6s
}
@keyframes animatetop{
	from{
		top:-300px;opacity:0
	}to{
		top:0;
		opacity:1
	}
}
.animate-bottomOne{
	position:relative;
	animation:animatebottom 2s
}
.animate-bottomTwo{
	position:relative;
	animation:animatebottom 4s
}
.animate-bottomThree{
	position:relative;
	animation:animatebottom 6s
}
@keyframes animatebottom{
	from{
		bottom:-300px;
		opacity:0
	}to{
		bottom:0;
		opacity:1
	}
}
</style>

<body style="background:#800000 url('/static/images/backgroundfour.jpg');
	background-repeat: no-repeat;
    background-size: cover;
">
<div class="animate-topOne">
    <h1 style="color:white; text-align: center;" class="register">Register</h1>
</div>

    <br>
    <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <h1 style="color:white; text-align: center;">
            <div class="animate-topTwo">
                <p>
                    {{ form.username.label }}<br><br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
        </h1>
        <h1 style="color:white; text-align: center;">
            <div class="animate-topThree">
                <p>
                    {{ form.email.label }}<br><br>
                    {{ form.email(size=64) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
        </h1>
        <h1 style="color:white; text-align: center;">
            <div class="animate-bottomOne">
                <p>
                    {{ form.password.label }}<br><br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
        </h1>
        <h1 style="color:white; text-align: center;">
            <div class="animate-bottomTwo">
                <p>
                    {{ form.password2.label }}<br><br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
        </h1>
        <div class="animate-bottomThree">
            <p>{{ form.submit() }}</p>
        </div>
    </form>
</body>
{% endblock %}